

<div id="wishlist">

{{#each users as |user| }}



<div class="row align-center mb-5">
    
    <div class="col-md-6">
    <h2>{{{email}}} TESTING {{email}}</h2>


        <h1>My Board</h1>
        
    <h2>{{{email}}} {{email}}</h2>




    </div>
    <div class="col-md-6">
    </div>
<<<<<<< HEAD
</div>
=======
</div>


{{/each}}
</div>
<div id="apply" class="droptrue">
</div>
<script defer src="/js/sortable.js">

</script>



=======

    </header>
    <main class="container container-fluid mt-5">
    {{{ body }}}

>>>>>>> dd3d98ef1723b982ce27fc9866c00c226e7f4720
